{% extends "my_timer_main/layout/basic.html" %}
{% load bootstrap4 %}
{% block title %}Клиенты{% endblock %}
{% load static %}
{%block menu_block%}
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
  <a class="navbar-brand" href="{% url 'my_timer:client_add' %}">Добавить клиента</a>
  {% comment %} <div class="container-fluid mb-2"> {% endcomment %}
    <div class="row">
    {% comment %} <div class="col">&nbsp;</div> {% endcomment %}
    <form class="col-md-auto form-inline">
    {% bootstrap_form form_search show_label=False %}
    {% bootstrap_button  button_class="btn btn-outline-success" content='Искать' button_type='submit' name="search_button" value="search" %}
    {% bootstrap_button  button_class="btn btn-outline-dark" content='X' button_type='submit' name="search_button" value="clear_search" %}
    </form>
    </div>
  {% comment %} </div> {% endcomment %}
</nav>
{% endblock %}
{% block content %}
<div class="row">
</div>
<div class="row">
    <table class="table table-hover table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col" style="width: 5%;">Активный</th>
              <th scope="col" style="width: 35%;">Имя</th>
              <th scope="col" style="width: 50%;">Полное имя</th>
              <th scope="col" style="width: 5%;">Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% if clients %}
            {% for client in clients %}
            <tr>
              {% if client.is_active %}
                <td align="center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked disabled></td>
              {% else %}
                <td align="center"><input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled></td>
            {% endif%}
              <td><a href="{% url 'my_timer:client_edit' client_id=client.pk %}">{{ client.name }}</td>
              <td>{{ client.full_name}}</td>
              <td><a href="{% url 'my_timer:client_delete' client_id=client.pk %}"><img src="{% static 'main/ico_deactive.png' %}"
                width="18" height="18" alt="Удалить"></td>
              </tr>
            {% endfor %}
            {% endif %}
          </tbody>
    </table>
</div>
<div class="row d-flex justify-content-center">
  {% if page.has_previous %}
  <a href="?page={{ page.previous_page_number }}">&lt;</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  {% endif %}
  Часть No{{ page.number }} из {{ page.paginator.num_pages }}
  {% if page.has_next %}
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="?page={{ page.next_page_number }}">&gt;</a>
  {% endif %}
</div>


{% endblock %}