{% extends "my_timer_main/layout/basic.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    {% if form.instance.pk %}
        Редактирование тайм трека
    {% else %}
        Добавление тайм трека
    {% endif %}
{% endblock %}
{% block head %}
<script src="{% static 'main/edit_time_track.js' %}"></script>
<script src="{% static 'main/main.js' %}"></script>

{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {{ form.media }}
        {% if form.instance.pk %}
            {% buttons submit='Изменить' %}{% endbuttons %}
        {% else %}
            {% buttons submit='Добавить' %}{% endbuttons %}
        {% endif %}
    </form>
{% endblock %}
