asgiref==3.5.2; python_version >= "3.8" and python_full_version >= "3.6.2"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0" and python_version >= "3.7"
django-appconf==1.0.5; python_version >= "3.6"
django-bootstrap4==21.2; python_version >= "3.7"
django-ckeditor==6.4.2; python_version >= "3.8"
django-cors-headers==3.12.0; python_version >= "3.7"
django-environ==0.8.1; python_version >= "3.4" and python_version < "4"
django-jazzmin==2.5.0; python_full_version >= "3.6.2"
django-js-asset==2.0.0; python_version >= "3.8"
django-select2==7.10.0
django-tempus-dominus==5.1.2.17
django==3.2.10; python_version >= "3.6"
djangorestframework==3.13.1; python_version >= "3.6"
gunicorn==20.1.0; python_version >= "3.5"
pdfkit==1.0.0
psycopg2-binary==2.9.3; python_version >= "3.6"
pytz==2022.1; python_version >= "3.8" and python_full_version >= "3.6.2"
soupsieve==2.3.2.post1; python_full_version >= "3.6.0" and python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.8" and python_full_version >= "3.6.2"
