.btn {
    margin: 1px;
}

.button_container {
    display: flex;
    flex-direction: row;
}

.btn-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ico-button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}